{% extends '../layouts/template.twig' %}

{% block navbar_links %}
    <ul class="nav navbar-nav">
        <li>
            <a href="/">Home</a>
        </li>

        <li class="active">
            <a href="/status">Status</a>
        </li>
    </ul>
{% endblock %}

{% block content %}
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Version</td>
                <td>{{ status['version'] }}</td>
            </tr>
            <tr>
                <td>Used RAM</td>
                <td>{{ status['used_ram'] }}</td>
            </tr>
            <tr>
                <td>Users online</td>
                <td>{{ status['users_online'] }}</td>
            </tr>
            <tr>
                <td>Rooms loaded</td>
                <td>{{ status['rooms_loaded'] }}</td>
            </tr>
            <tr>
                <td>Uptime in seconds</td>
                <td>{{ status['uptime_seconds'] }}</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}